.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header{
   margin-left: 28rem;
   margin-bottom: 3rem;
  }